<!DOCTYPE html>
html(lang="es")
    include ../layout/head.pug
    link(rel="stylesheet", href="../../styles/template/default.css")
    link(rel="stylesheet", href="../../styles/atom-one-dark.css")
    script(src="//https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/languages/javascript.min.js")
    script hljs.initHighlightingOnLoad();
    body
        include ../layout/header.pug
        include ../layout/main.pug
        include ../layout/footer.pug
        
